@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ background:#0C6D37 url(../images/bg4.jpg) repeat center top; overflow:hidden;}

#top{ height:39px; line-height:39px; width:100%; background:url(../images/top_bg.png) repeat-x left top; overflow:hidden; padding:15px 0;}
#top dl{ width:990px; margin:0 auto;}
#top dl dt{ float:left; background:url(../images/img_split.png) no-repeat 0 0; width:250px; height:40px;}
#top dl dt a{ text-indent:-9999px; display:block; width:250px; height:40px;}
#top dl a{ color:#ccc; font-size:12px; text-decoration:none;}
#top dl span{ padding:0 10px; color:#ddd; font-size:12px;}
#top dl dd{ float:right;}
#top dl dd a{ display:block; float:left; text-indent:-9999px; margin:0 5px;_dispaly:inline; overflow:hidden; cursor:pointer;}
.a_index{ width:53px; height:39px; background:url(../images/img_split.png) no-repeat -1px -96px;}
.a_index_h{ width:53px; height:39px; background:url(../images/img_split.png) no-repeat -1px -175px;}
.a_mzdw{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -65px -96px;}
.a_mzdw_h{width:78px; height:39px;  background:url(../images/img_split.png) no-repeat -65px -175px;}
.a_spyy{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -162px -96px;}
.a_spyy_h{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -162px -175px;}
.a_xwzx{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -256px -96px;}
.a_xwzx_h{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -256px -175px;}
.a_gwtb{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -352px -96px;}
.a_gwtb_h{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -352px -175px;}
.a_yxyl{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -447px -96px;}
.a_yxyl_h{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -447px -175px;}
.a_sygj{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -541px -96px;}
.a_sygj_h{ width:78px; height:39px; background:url(../images/img_split.png) no-repeat -541px -175px;}
.a_yszy{ width:79px; height:39px; background:url(../images/img_split.png) no-repeat -636px -96px;}
.a_yszy_h{ width:79px; height:39px; background:url(../images/img_split.png) no-repeat -636px -175px;}
.a_more{width:33px; height:39px; background:url(../images/img_split.png) no-repeat -740px -96px;}

#metro_box{ width:990px; height:565px; overflow:hidden; margin:0 auto; }
.bg{ background:#93C5EA url(../images/bg4.jpg) repeat center top;}

/*.bg1{ background:#93C5EA url(../images/bg1.jpg) repeat-x center top;}
.bg2{ background:#bdbac5 url(../images/bg2.jpg) no-repeat center top;}
.bg3{ background:#bdbac5 url(../images/bg3.jpg) no-repeat center top;}
.bg4{ background:#bdbac5 url(../images/bg4.jpg) no-repeat center top;}
.bg5{ background:#bdbac5 url(../images/bg5.jpg) repeat center top;}
.bg6{ background:#bdbac5 url(../images/bg6.jpg) no-repeat center top;}*/
#metro_box dl dt{ height:35px; line-height:35px;margin-bottom:20px;}
#metro_box dl dt h1{ font-size:32px; font-family:"微软雅黑","黑体"; color:#fff; font-weight:normal; float:left;}
#metro_box dl dt div{ float:right; font-size:12px;}
.nav a{ border-top:3px solid #fff; text-decoration:none; padding:3px; color:#000; font-family:"微软雅黑"; cursor:pointer;}
.nav a:hover, #a_hover{ border-top:3px solid #f60; color:#F60; font-weight:bold;}

#metro_box dl dd ul{ width:990px; height:510px;overflow:hidden;}
#metro_box dl dd ul li{ width:234px; height:117px; overflow:hidden;  float:left; margin:3px;_margin:2px; _display:inline; padding:1px; opacity:0.9;filter:alpha(opacity=90); position:relative;top:69px;}
#metro_box dl dd ul li span{ display:none;}
#metro_box dl dd ul li span a{ color:#fff; font-family:"微软雅黑"; font-size:12px; text-decoration:none;}
#metro_box dl dd ul li:hover span{ text-align:center; background:#000; height:20px; line-height:20px;opacity:0.4;filter:alpha(opacity=40); display:block; position:absolute; bottom:0; left:0; width:100%;}

#metro_box dl dd.totalNavigation{width:990px;height:900px;margin:auto;}
#metro_box dl dd.totalNavigation ul{width:990px;height:900px;margin:auto;}
#metro_box dl dd.totalNavigation img{width:234px;height:117px;}
#metro_box dl dd.totalNavigation ul li{ width:234px; height:117px;position: relative;top:0px;}

div.nano {width: 990px; height: 510px; font-size:12px;font-family:微软雅黑;border-radius:8px;}
div.nano .pane {
  background: #F2F730;
  width: 8px;
  right: 1px;
 margin: 5px;
}
div.nano .slider {
  background: #550AE4;
}

#metro_box dl dd ul li a img{width:234px; height:117px; overflow:hidden; margin:0; padding:0; border:none;}
#metro_box dl dd ul li:hover{opacity:1;filter:alpha(opacity=100); padding:0px; border:1px dashed #fcfcfc;}
#metro_box dl dd ul li[class="one"]{ margin-left:0; }
#metro_box dl dd ul li[class="four"]{ margin-right:0}
#logo_001{background:#3c8feb;}
#logo_002{background:#c71630;}
#logo_003{background:#f09238;}
#logo_004{background:#4076b7;}

#logo_005{background:#ce3122;}
#logo_006{background:#0fa9d3;}
#logo_007{background:#b4b31d;}

#logo_008{background:#ae8ad2;}
#logo_009{background:#3c8feb;}
#logo_010{background:#f1ce58;}

#logo_011{background:#4076b7;}
#logo_012{background:#10aad2;}
#logo_013{background:#b4b31d;}
#logo_014{background:#f09238;}

#logo_015{background:#f09238;}
#logo_016{background:#43bd66;}
#logo_017{background:#72bcc5;}

#logo_018{background:#3c8feb;}
#logo_019{background:#ef6636;}
#logo_020{background:#f09238;}
#logo_021{background:#5a63ae;}

#logo_022{background:#30b066;}
#logo_023{background:#a9dcf8;}
#logo_024{background:#fff143;}
#logo_025{background:#ce3122;}
#logo_026{background:#b4b31d;}
#logo_027{background:#ae8ad2;}

.prev, .next{ width:31px; height:auto; cursor:pointer; display:none;}
.prev{ float:left;}
.next{ float:right;}



